/* orange */
/* orange */
body, html {
  height: 100%; }

body {
  font-size: 15px;
  color: black;
  font-family: 'museo-sans', sans-serif; }

h1 {
  font-size: 3.7em;
  font-family: 'ButlerRegular', serif;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2.8em;
  font-family: 'ButlerRegular', serif;
  margin-bottom: 0.5em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em;
  line-height: 1.4em; }

main {
  padding-top: 55px; }

.btn,
.btn-lg {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  background-color: #E46F25;
  font-weight: 200;
  color: white;
  min-width: 60px;
  cursor: pointer; }
  .btn:hover,
  .btn-lg:hover {
    background-color: #DE5B0D;
    color: white; }

.btn-lg {
  font-size: 1.17em; }

.form-control {
  border-color: #A6A6A6;
  background-color: #F7F7F7; }
  .form-control:focus {
    border-color: #E46F25;
    background-color: #F7F7F7; }

.navbar-light {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5); }
  .navbar-light .navbar-brand img {
    width: 280px;
    height: auto;
    margin: -5px 0 -10px 0; }
  .navbar-light .navbar-nav .nav-link {
    color: black;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .navbar-light .navbar-nav .nav-link:hover {
      color: #E46F25; }

.left {
  float: left; }

.right {
  float: right; }

.caption {
  font-size: 0.85em; }

.no-margin {
  margin: 0; }

.antispam {
  display: none; }

.card {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1.3em; }
  .card.card-narrow {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; }

section.headline {
  background: center center #842D1B url("../images/hero.jpg") no-repeat;
  background-size: cover;
  color: white;
  padding: 6% 0; }
  section.headline .btn {
    margin-bottom: 20px; }
  section.headline h4 {
    font-weight: 200;
    margin-bottom: 1.5em; }

section.services {
  padding-bottom: 4%; }
  section.services .service {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #F4F1EE;
    padding: 1.3em;
    height: 89%;
    margin-bottom: 1.8em; }
    section.services .service img {
      margin-top: -35px; }
  section.services h2 {
    color: #E46F25;
    margin: 1em 0; }
  section.services h3 {
    color: #E46F25;
    margin: 1em 0; }

section.mission {
  background: center center url("../images/mission.jpg") no-repeat;
  background-size: cover;
  padding: 6% 0 14% 0; }
  section.mission .mission-statement {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(78, 39, 3, 0.7);
    color: white;
    padding: 1.3em; }

section.about {
  background-color: #F4F1EE;
  padding: 3.5% 0 0 0;
  text-align: center;
  position: relative; }
  section.about .card {
    position: relative;
    bottom: -30px; }
  section.about .photo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: center center url("../images/Wendy.jpg") no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    margin: -40px auto 25px auto;
    border: 2px solid white; }
  section.about h2 {
    color: #E46F25; }
  section.about .container {
    max-width: 740px; }

section.testimonials {
  background: top right url("../images/testimonials.jpg") no-repeat;
  background-size: cover;
  padding: 7% 0 0 0; }
  section.testimonials h2 {
    color: white;
    margin-bottom: 0.8em; }
  section.testimonials .quote {
    margin-bottom: 3em; }
    section.testimonials .quote .card {
      margin-bottom: 1.5em;
      position: relative; }
      section.testimonials .quote .card:before, section.testimonials .quote .card:after {
        content: '';
        position: absolute;
        bottom: -13px;
        left: 20px;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 13px 20px 0 0;
        border-color: white transparent transparent transparent;
        z-index: 100; }
      section.testimonials .quote .card:after {
        border-width: 15px 25px 0 0;
        border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
        left: 18px;
        bottom: -16px;
        z-index: 99; }
    section.testimonials .quote .person span {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid white;
      width: 60px;
      height: 60px;
      float: left;
      margin-right: 12px; }
    section.testimonials .quote .person p {
      color: white;
      margin: 0;
      padding-top: 13px; }
    section.testimonials .quote .person #one {
      background: center center url("../images/alan.jpg") no-repeat;
      background-size: cover; }
    section.testimonials .quote .person #two {
      background: center center url("../images/elizabeth.jpg") no-repeat;
      background-size: cover; }
    section.testimonials .quote .person #three {
      background: center center url("../images/nicola.jpg") no-repeat;
      background-size: cover; }
  section.testimonials hr {
    max-width: 200px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    margin: 1em auto 4em auto; }
  section.testimonials .keep-me-posted {
    max-width: 380px;
    text-align: center;
    margin: 2em auto -7em auto;
    position: relative; }
    section.testimonials .keep-me-posted form label {
      display: block;
      text-align: left; }
    section.testimonials .keep-me-posted form .form-control.left {
      width: 75%; }
    section.testimonials .keep-me-posted img {
      margin: -35px 0 1.3em 0; }

.thanks-page {
  padding-top: 2em;
  background-color: #F4F1EE;
  height: 100%; }
  .thanks-page h1 {
    margin-bottom: 0.2em; }
  .thanks-page .btn {
    margin-top: 2em;
    width: 120px;
    margin: 2em auto 0 auto; }
    .thanks-page .btn img {
      width: 35px;
      margin: -6px -5px -4px -15px; }

footer {
  padding: 9em 0 0 0;
  background-color: #E46F25;
  color: white;
  text-align: center; }
  footer h3 {
    margin: 0.7em 0 0 0;
    font-size: 2.2em; }
    footer h3 img {
      vertical-align: top;
      margin-top: -3px; }
  footer h4 {
    font-weight: 300; }
  footer a,
  footer a:hover {
    color: white;
    text-decoration: underline; }
  footer .logo-strip {
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    margin-top: 1.5em;
    background-color: white;
    padding: 0.5em 0.5em 0.6em 0.5em;
    color: black; }
    footer .logo-strip img {
      width: 180px;
      height: auto;
      margin-right: -10px; }

@media (max-width: 900px) {
  section.testimonials {
    padding-top: 4em; } }
@media (max-width: 767px) {
  section.headline .container {
    padding-bottom: 7%; } }
@media (min-width: 576px) {
  section.testimonials .quote .card.right-arrow + .person span {
    float: right;
    margin-right: 0;
    margin-left: 12px; }
  section.testimonials .quote .card.right-arrow + .person p {
    text-align: right; }
  section.testimonials .quote .card.right-arrow:before, section.testimonials .quote .card.right-arrow:after {
    left: auto;
    right: 20px;
    border-width: 0 20px 13px 0;
    border-color: transparent white transparent transparent; }
  section.testimonials .quote .card.right-arrow:after {
    border-width: 0 25px 15px 0;
    border-color: transparent rgba(0, 0, 0, 0.2) transparent transparent;
    right: 18px; } }

/*# sourceMappingURL=main.css.map */
