@import 'variables'; 
@import 'mixins'; 

body {
    font-size: 15px;
    color: black;
    font-family: 'museo-sans', sans-serif;
}
h1 {
    font-size: 3.7em;
    font-family: 'ButlerRegular', serif;
    font-weight: 500;
    line-height: 1em;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2.8em;
    font-family: 'ButlerRegular', serif;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
    line-height: 1.4em;
}
main {
    padding-top: 55px;
}
.btn,
.btn-lg {
    @include rounded-corners(4px);
    @include shadow-custom(0 1px 1px 0 rgba(0, 0, 0, 0.4));
    background-color: $primary-colour;
    font-weight: 200;
    color: white;
    min-width: 60px;
    cursor: pointer;
    &:hover {
        background-color: #DE5B0D;
    }
}
.btn-lg {
    font-size: 1.17em;
}
.form-control {
    border-color: $input-border-colour;
    background-color: $input-background-colour;
    &:focus {
        border-color: $primary-colour;
        background-color: $input-background-colour;
    }
}

.navbar-light {
    @include shadow;
    .navbar-nav .nav-link {
        color: black;
    }    
}

.left { 
    float: left;
}
.right {
    float: right;
}
.caption {
    font-size: 0.85em;
}
.no-margin {
    margin: 0;
}
.antispam {
    display:none;
}

.card {
    @include shadow;
    @include rounded-corners(5px);
    padding: $card-padding;
}

section.headline {
    background: center center #842D1B url("../images/hero.jpg") no-repeat;
    background-size: cover;
    color: white;
    padding: 6% 0;
    .btn {
        margin-bottom: 20px;
    }
    h4 {
        font-weight: 200;
        margin-bottom: 1.5em;
    }
}

section.services {
    padding-bottom: 4%;
    .service {
        @include rounded-corners(4px);
        background-color: #F4F1EE;
        padding: $card-padding;
        height: 89%;
        margin-bottom: 1.8em;
        img {
            margin-top: -35px;
        }
    }
    h2 {
        color: $primary-colour;
        margin: 1em 0;
    }    
    h3 {
        color: $primary-colour;
        margin: 1em 0;
    }
}

section.mission {
    background: center center url("../images/mission.jpg") no-repeat;
    background-size: cover;
    padding: 6% 0 14% 0;
    .mission-statement {
        @include rounded-corners(4px);
        background-color: rgba(78,39,3,0.7);
        color: white;
        padding: $card-padding;
    }
}

section.about {
    background-color: #F4F1EE;
    padding: 3.5% 0 0 0;
    text-align: center;
    .card {
        position: relative;
        bottom: -30px;        
    }
    .photo {
        @include rounded-corners(50%);
        background: center center url("../images/Wendy.jpg") no-repeat;
        background-size: cover;
        width: 120px;
        height: 120px;
        margin: -40px auto 25px auto; 
        border: 2px solid white;   
    }
    h2 {
        color: $primary-colour;
    }
    .container {
        max-width: 740px;
    }
}

section.testimonials {
    background: top right url("../images/testimonials.jpg") no-repeat;
    background-size: cover;    
    padding: 7% 0;
    h2 {
        color: white;
        margin-bottom: 0.8em;
    }
    .quote {
        .card {
            margin-bottom: $card-margin-bottom;
            position: relative;
            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: -13px;
                left: 20px;
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 13px 20px 0 0;
                border-color: white transparent transparent transparent; 
                z-index: 100;
            }
            &:after {
                border-width: 15px 25px 0 0;
                border-color: rgba(0,0,0,0.2) transparent transparent transparent;
                left: 18px;
                bottom: -16px;
                z-index: 99;
            }
        }
        .card.right-arrow {
            & + .person {
                span {
                    float: right;
                    margin-right: 0;
                    margin-left: 12px;
                }
                p {
                    text-align: right;
                }                
            }
            &:before,
            &:after {
                left: auto;
                right: 20px;
                border-width: 0 20px 13px 0;
                border-color: transparent white transparent transparent; 
            }
            &:after {
                border-width: 0 25px 15px 0;
                border-color: transparent rgba(0,0,0,0.2) transparent transparent;
                right: 18px;
            }
        }
        .person {
            span {
                @include rounded-corners(50%);
                border: 1px solid white;
                width: 60px;
                height: 60px;
                float: left;
                margin-right: 12px;
            }
            p {
                color: white;
                margin: 0;
                padding-top: 13px;                
            }
            #one {
                background: center center url("../images/alan.jpg") no-repeat;
                background-size: cover;
            }
            #two {
                background: center center url("../images/elizabeth.jpg") no-repeat;
                background-size: cover;
            }
            #three {
                background: center center url("../images/nicola.jpg") no-repeat;
                background-size: cover;
            }                         
        }
    }
    hr {
        max-width: 200px;
        border-top: 1px solid rgba(255,255,255,0.6);
        margin: 4em auto;
    }
    .keep-me-posted {
        max-width: 380px;
        text-align: center;
        margin: 2em auto -12em auto;
        position: relative;
        form {
            label {
                display: block;
                text-align: left;
            }
            .form-control.left {
                width: 75%;
            }
        }
        img {
            margin: -35px 0 1.3em 0;
        }
    }    
}

footer {
    padding: 9em 0 0 0;
    background-color: $primary-colour;
    color: white;
    text-align: center;
    h3 {
        margin: 0.7em 0 0 0;
        font-size: 2.2em;
        img {
            vertical-align: top;
            margin-top: -3px;
        }        
    }
    h4 {
        font-weight: 300;
    }
    a,
    a:hover {
        color: white;
        text-decoration: underline;
    }
    .logo-strip {
        @include shadow-custom(0 0 3px 0 rgba(0, 0, 0, 0.5));
        margin-top: 1.5em;
        background-color: white;
        padding: 0.5em 0.5em 0.6em 0.5em;
        color: black;
    }
}