@import 'variables'; 

@mixin shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);    
}
@mixin shadow-custom($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;    
}
@mixin rounded-corners($radius) {
    -webkit-border-radius: $radius; 
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin transition {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;    
}