@import 'variables'; 

@mixin shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);    
}
@mixin shadow-custom($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;    
}
@mixin rounded-corners($radius) {
    -webkit-border-radius: $radius; 
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin transition {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;    
}

@mixin orange-gradient-background {
    background: #ec8d54; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ec8d54 0%, #d47943 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ec8d54 0%,#d47943 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ec8d54 0%,#d47943 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec8d54', endColorstr='#d47943',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
}